<div class="container">
  <div class="info">
    <h1>User Management</h1>
    <p>Control and manage users in an easier way</p>
  </div>
  <div class="data">
    <div>
      <fa-icon [icon]="faUserTie"></fa-icon>
      <p>
        Adminstrators
      </p>
      <span>{{numberOfAdminstrators}}</span>
    </div>
    <div>
      <fa-icon [icon]="faUser"></fa-icon>
      <p>
        Users
      </p>
      <span>{{numberOfUsers}}</span>
    </div>
    <div>
      <fa-icon [icon]="faGear"></fa-icon>
      <p>
        Service
      </p>
      <span>{{numberOfService}}</span>
    </div>
    <div>
      <fa-icon [icon]="faFileCircleCheck"></fa-icon>
      <p>
        Overall
      </p>
      <span>{{OverAll}}</span>
    </div>
  </div>
</div>
<div class="container">
  <app-userslist></app-userslist>
</div>
