<div class="container">
  <div class="row">
    <div class="col-md-12">
      <figcaption>
        <div class="box">
          <span>A</span>
          <textarea id="" placeholder="Enter Text Here">Hello</textarea>
        </div>
        <div class="box">
          <span>B</span>
          <textarea id="" placeholder="Enter Text Here">Helo, How are you?</textarea>
        </div>
        <div class="box active">
          <span>A</span>
          <textarea id="" placeholder="Enter Text Here"></textarea>
        </div>
      </figcaption>
    </div>
    <button type="button" class="btn btn-dark">Add block</button>
  </div>
</div>
