<section>
  <fa-icon [icon] = "faAngleLeft"></fa-icon>
  <p>Get inspired with a template</p>
  <div class="row">
    <div class="box">
      <figure>
        <img src="https://studio.speechify.com/images/templates/spotify.png" alt="">
      </figure>
      <figcaption>
        <p>spotify Audio Ad</p>
        <span>Voice Over</span>
      </figcaption>
    </div>
    <div class="box">
      <figure>
        <img src="https://i.ytimg.com/vi/k5E2AVpwsko/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBrczIpAxe5-H7iUjfhtdHwu_ognw" alt="">
      </figure>
      <figcaption>
        <p>Angular Tutorial for Beginners</p>
        <span>Dubbung Video</span>
      </figcaption>
    </div>
    <div class="box">
      <figure>
        <img src="https://i.ytimg.com/vi/w7ejDZ8SWv8/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDLtqhjnv15Y388joYu5qQ3VjlhZw" alt="">
      </figure>
      <figcaption>
        <p>React JS Crash Course</p>
        <span>Dubbung Video</span>
      </figcaption>
    </div>
    <div class="box">
      <figure>
        <img src="https://i.ytimg.com/vi/KTFH4P8unUQ/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBJJ3vc6QhMQDkI1WppNlfHZvP3EQ" alt="">
      </figure>
      <figcaption>
        <p>Vue 3 Crash Course</p>
        <span>Dubbing Video</span>
      </figcaption>
    </div>
  </div>
  <fa-icon [icon] = "faAngleRight"></fa-icon>
</section>
