<div class="container">
  <div class="row">
    <div class="col-md-5">
      <figure>
        <video src="" poster="https://i.ytimg.com/vi/k5E2AVpwsko/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBrczIpAxe5-H7iUjfhtdHwu_ognw"></video>
      </figure>
    </div>
    <div class="col-md-7">
      <figcaption>
        <div class="box">
          <span>A</span>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Delectus quaerat ratione et inventore, ducimus voluptate aperiam,
            quasi dolores adipisci labore voluptatem nemo!
            Obcaecati officiis sunt quis ullam quos. Cumque, perspiciatis.
          </p>
          <span>02:10</span>
        </div>
        <div class="box">
          <span>A</span>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Delectus quaerat ratione et inventore, ducimus voluptate aperiam,
            quasi dolores adipisci labore voluptatem nemo!
            Obcaecati officiis sunt quis ullam quos. Cumque, perspiciatis.
          </p>
          <span>03:10</span>
        </div>
        <div class="box">
          <span>A</span>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Delectus quaerat ratione et inventore, ducimus voluptate aperiam,
            quasi dolores adipisci labore voluptatem nemo!
            Obcaecati officiis sunt quis ullam quos. Cumque, perspiciatis.
          </p>
          <span>04:10</span>
        </div>
        <div class="box">
          <span>A</span>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Delectus quaerat ratione et inventore, ducimus voluptate aperiam,
            quasi dolores adipisci labore voluptatem nemo!
            Obcaecati officiis sunt quis ullam quos. Cumque, perspiciatis.
          </p>
          <span>05:10</span>
        </div>
        <div class="box">
          <span>A</span>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Delectus quaerat ratione et inventore, ducimus voluptate aperiam,
            quasi dolores adipisci labore voluptatem nemo!
            Obcaecati officiis sunt quis ullam quos. Cumque, perspiciatis.
          </p>
          <span>06:10</span>
        </div>
        <div class="box">
          <span>A</span>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Delectus quaerat ratione et inventore, ducimus voluptate aperiam,
            quasi dolores adipisci labore voluptatem nemo!
            Obcaecati officiis sunt quis ullam quos. Cumque, perspiciatis.
          </p>
          <span>07:10</span>
        </div>
        <div class="box">
          <span>A</span>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Delectus quaerat ratione et inventore, ducimus voluptate aperiam,
            quasi dolores adipisci labore voluptatem nemo!
            Obcaecati officiis sunt quis ullam quos. Cumque, perspiciatis.
          </p>
          <span>08:10</span>
        </div>
        <div class="box">
          <span>A</span>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Delectus quaerat ratione et inventore, ducimus voluptate aperiam,
            quasi dolores adipisci labore voluptatem nemo!
            Obcaecati officiis sunt quis ullam quos. Cumque, perspiciatis.
          </p>
          <span>09:10</span>
        </div>
        <div class="box">
          <span>A</span>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Delectus quaerat ratione et inventore, ducimus voluptate aperiam,
            quasi dolores adipisci labore voluptatem nemo!
            Obcaecati officiis sunt quis ullam quos. Cumque, perspiciatis.
          </p>
          <span>10:10</span>
        </div>
      </figcaption>
    </div>
  </div>
</div>
