<div class="container">
  <div class="row">
    <div class="col-md-5">
      <figure>
        <div class="spinner" [ngClass]="{active:isFetch}">
          <div></div>
        </div>
        <video src="{{video}}" #videoP></video>
      </figure>
    </div>
    <div class="col-md-7">
      <div class="spinner" [ngClass]="{active:isFetch}">
        <div></div>
      </div>
      <figcaption>
        <div class="box" *ngFor="let text of srt_array">
          <span>A</span>
          <p>{{text.text}}</p>
          <span>{{text.endTime.slice(3, 8)}}</span>
        </div>
      </figcaption>
    </div>
  </div>
</div>
<div class="controller">
  <div class="con">
    <fa-icon [icon]="faBackward" (click)="decreaseTime(10)"></fa-icon>
    <fa-icon [icon]="isPlaying ? faPause : faPlay" (click)="togglePlayPause()"></fa-icon>
    <fa-icon [icon]="faForward" (click)="increaseTime(10)"></fa-icon>
  </div>
</div>
