@use '../../../../scss/variabels.scss' as *;
@use '../../../../scss/mixin.scss' as *;

.controller {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: calc(100% - 189px);
  display: flex;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 0px 20px  #ccc;
  padding: 10px;
  @include breakpoint ("mobile") {
    width: calc(100% - 94.5px);
    padding: 1px;
  }
  fa-icon {
    margin: 10px;
    font-size: 18px;
    color: $gray;
    cursor: pointer;
  }
}
