<h1>Users List</h1>
<header>
  <div class="search">
    <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
    <input type="search" placeholder="Search User">
  </div>
  <div class="addDelet">
    <button type="button" class="btn btn-outline-primary me-2">
      <fa-icon [icon]="faPlus"></fa-icon>
      Add User
    </button>
    <button type="button" class="btn btn-outline-danger">
      <fa-icon [icon]="faTrash"></fa-icon>
      Delete
    </button>
  </div>
</header>
<div class="userdata">
  <table class="table">
    <thead>
      <tr>
        <td>
          <input type="checkbox">
        </td>
        <td>USERS</td>
        <td>ROLE</td>
        <td>Last LOGIN</td>
        <td>JOINED DATE</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="checkbox">
        </td>
        <td class="email">
          <span>AB</span>
          <div class="emailinfo">
            <h6>Abdallah Abdalnaser</h6>
            <span>abdallahalbhare2002@gmail.com</span>
          </div>
        </td>
        <td>Adminstrator</td>
        <td>1 min age</td>
        <td>19 Aug 2023 5:30pm</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox">
        </td>
        <td class="email">
          <span>AB</span>
          <div class="emailinfo">
            <h6>Abdallah Abdalnaser</h6>
            <span>abdallahalbhare2002@gmail.com</span>
          </div>
        </td>
        <td>Adminstrator</td>
        <td>1 min age</td>
        <td>19 Aug 2023 5:30pm</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox">
        </td>
        <td class="email">
          <span>AB</span>
          <div class="emailinfo">
            <h6>Abdallah Abdalnaser</h6>
            <span>abdallahalbhare2002@gmail.com</span>
          </div>
        </td>
        <td>Adminstrator</td>
        <td>1 min age</td>
        <td>19 Aug 2023 5:30pm</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox">
        </td>
        <td class="email">
          <span>AB</span>
          <div class="emailinfo">
            <h6>Abdallah Abdalnaser</h6>
            <span>abdallahalbhare2002@gmail.com</span>
          </div>
        </td>
        <td>Adminstrator</td>
        <td>1 min age</td>
        <td>19 Aug 2023 5:30pm</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox">
        </td>
        <td class="email">
          <span>AB</span>
          <div class="emailinfo">
            <h6>Abdallah Abdalnaser</h6>
            <span>abdallahalbhare2002@gmail.com</span>
          </div>
        </td>
        <td>Adminstrator</td>
        <td>1 min age</td>
        <td>19 Aug 2023 5:30pm</td>
      </tr>
    </tbody>
  </table>
</div>
