<nav>
  <!-- menu Button -->
  <div class="menu">
    <h2>Voice Over</h2>
  </div>
  <!-- page -->
  <ul>
    <li>
      <fa-icon [icon] = "faPersonHalfDress"></fa-icon>
      <select name="gender" id="gender" (input)="catchGender(gender.value)" #gender>
        <option value="male" selected>Select</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
      <!-- <span>Original</span> -->
    </li>
    <li>
      <fa-icon [icon] = "faEarth"></fa-icon>
      <select name="language" id="language" (input)="catchlanguage(language.value)" #language>
        <option value="male" selected>Select</option>
        <option value="ar">Arabic</option>
        <option value="en">English</option>
        <option value="fr">French</option>
        <option value="es">Spanish</option>
        <option value="de">German</option>
        <option value="it">Italian</option>
        <option value="zh">Chinese</option>
        <option value="ja">Japanese</option>
        <option value="ru">Russian</option>
        <option value="hi">Hindi</option>
      </select>
      <!-- <span>Original</span> -->
    </li>
  </ul>
  <!-- profile Button-->
  <div class="Profile_home">
    <div class="home" [routerLink]="['/home']">
      <fa-icon [icon] = "faHome"></fa-icon>
      <span>Home</span>
    </div>
    <div class="profile">
      <fa-icon [icon] = "faUser"></fa-icon>
      <span>Profile</span>
    </div>
  </div>
</nav>
