@use '../../../../scss/variabels.scss' as * ;

form {
  position: relative;
  padding: 12px 18px;
  .spinner {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;
    width: 100%;
    height: 111%;
    top: 0px;
    left:0px;
    border-radius: 5px;
    z-index: 9999;
    &.active {
      display: flex;
    }
    img {
      width: 100px;
      height: 100px;
      margin-top:10px ;
    }
    span {
      margin-bottom: 5px;
      &:nth-child(1) {
        margin-bottom: 10px;
      }
      font: {
        size:14px;
        weight:700;
      }
    }
    > div {
      position: relative;
      width: 300px;
      height: 5px;
      background-color: $white;
      border-radius: 15px;
      margin-bottom: 25px;
      margin-top: 10px;
      span {
        position: absolute;
        height: 100%;
        background-color: $gray;
        border-radius: 15px;
        transform: 0.3s;
      }
    }
  }
  header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px 0px;
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 20px;
    > fa-icon {
      color:$black;
      font-size: 15px;
      margin-right: 8px;
    }
    h1 {
      font-size: 20px;
      margin: 0px;
    }
    span {
      position: absolute;
      right: 0px;
      top: 0px;
      font-size: 20px;
      font-weight: 700;
      cursor: pointer;
    }
  }
  fa-icon {
    color: red;
  }

  button {
    width: 100%;
    margin-top: 10px;
  }
}

@keyframes load {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
