<section>
  <p>Open Projects</p>
  <div class="row">
    <div class="col-md-3">
      <figure>
        <img src="https://i.ytimg.com/vi/k5E2AVpwsko/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBrczIpAxe5-H7iUjfhtdHwu_ognw" alt="">
        <span>2:02:42</span>
      </figure>
      <figcaption>
        <p>Angular Tutorial for Beginners</p>
        <span>Dubbung Video</span>
      </figcaption>
    </div>
    <div class="col-md-3">
      <figure>
        <img src="https://i.ytimg.com/vi/w7ejDZ8SWv8/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDLtqhjnv15Y388joYu5qQ3VjlhZw" alt="">
        <span>1:48:48</span>
      </figure>
      <figcaption>
        <p>React JS Crash Course</p>
        <span>Dubbung Video</span>
      </figcaption>
    </div>
  </div>
</section>
