<div class="spinner" [ngClass]="{active: fetching === false}">
  <img src="../../../../assets/images/chatbot.gif" alt="">
</div>

<section>
  <p>Open Projects</p>
  <div class="row">
    <div class="col-md-3" *ngFor="let project of openProject" [routerLink]="['/DubbingVideo/',project.projectId]">
      <figure>
        <img src="{{project.videoThumbnail}}" alt="">
        <span>0 : {{project.videoTime.slice(0,2)}}: {{project.videoTime.slice(11,14)}}</span>
      </figure>
      <figcaption>
        <p>{{project.videoTitle}}</p>
        <span>Dubbung Video</span>
      </figcaption>
    </div>
  </div>
</section>
